@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../assets/fonts/RobotoMono-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    /* === Fonts === */
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Roboto Mono", ui-monospace, monospace;



    --color-primary-900: #613404;
    --color-primary-800: #924D05;
    --color-primary-700: #C26707;
    --color-primary-600: #F38109;
    --color-primary-500: #F59A3A;
    --color-primary-400: #F8B36B;
    --color-primary-300: #FACD9D;
    --color-primary-200: #FDE6CE;
    --color-primary-100: #FEF2E6;

    --color-neutral-900: #191919;
    --color-neutral-800: #323232;
    --color-neutral-700: #4B4B4B;
    --color-neutral-600: #949494;
    --color-neutral-500: #AFAFAF;
    --color-neutral-400: #C8C8C8;
    --color-neutral-300: #E1E1E1;
    --color-neutral-200: #ECECEC;
    --color-neutral-100: #F3F3F3;
    --color-neutral-50: #FCFCFC;

    --color-success-900: #005034;
    --color-success-800: #00774E;
    --color-success-700: #009F68;
    --color-success-600: #00C782;
    --color-success-500: #33D29B;
    --color-success-400: #66DDB4;
    --color-success-300: #99E9CD;
    --color-success-200: #CCF4E6;
    --color-success-100: #E5F9F2;

    --color-info-900: #182F60;
    --color-info-800: #244791;
    --color-info-700: #305EC1;
    --color-info-600: #3C76F1;
    --color-info-500: #6391F4;
    --color-info-400: #8AADF7;
    --color-info-300: #B1C8F9;
    --color-info-200: #D8E4FC;
    --color-info-100: #EBF1FE;

    --color-danger-900: #661A1A;
    --color-danger-800: #982626;
    --color-danger-700: #CB3333;
    --color-danger-600: #FE4040;
    --color-danger-500: #FE6666;
    --color-danger-400: #FE8C8C;
    --color-danger-300: #FFB3B3;
    --color-danger-200: #FFD9D9;
    --color-danger-100: #FFECEC;

}

.heading-1 {
    @apply text-4xl font-bold text-red-500 font-sans;
}

body {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}

